---
import BaseHead from '@/components/BaseHead.astro';
import Header from '@/components/Header.astro';
import Footer from '@/components/Footer.astro';

import { MY_LINKS, SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

---
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 960px;
				box-sizing: border-box;
			}
			ul {
				display: flex;
				flex-wrap: wrap;
				gap: 1rem;

				list-style-type: none;
				padding: 0;
				
  				width: 100%;
				max-width: 580px;
				margin: 0px auto;
			}
			ul li {
				position: relative; /* For positioning the menu */
				width: 100%;
				padding: 8px;
				border: 1px solid transparent;
				background: #ddd;
				border-radius: 16px;
				text-align: center;
				transition: all 0.4s ease;
			}
			ul li:hover {
				background: #fff;
				border: 1px solid black;
			}
			ul li a {
				display: block;
				text-decoration: none;
			}
			.title {
				margin: 0;
				color: rgb(var(--black));
				line-height: 1;
			}
			.menu {
				display: none; /* Initially hidden */
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				background: white;
				border: 1px solid #ccc;
				border-radius: 8px;
				box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
				padding: 10px;
			}
			ul li .ellipsis {
				cursor: pointer;
				position: absolute;
				right: 10px;
				top: 50%;
				transform: translateY(-50%);
				font-size: 1.5rem;
				padding: 0 10px;
			}
			.menu.open {
				display: block;
			}
			.menu ul {
				list-style-type: none;
				padding: 0;
				margin: 0;
			}
			.menu ul li {
				padding: 8px;
				cursor: pointer;
				transition: background-color 0.2s ease;
			}
			.menu ul li:hover {
				background-color: #f0f0f0;
			}
			@media (max-width: 720px) {
				ul {
					gap: 0.5em;
				}
				ul li {
					width: 100%;
					text-align: center;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<section>
<ul>
					{
						MY_LINKS.map((link, index) => (
							<li>
								<a href={`/u/${link.shortenUrl}/`}>
									<span class="title">{link.title}</span>
								</a>
								<button id={`js-dialog-opener-${index}`} class="ellipsis">&#x22EE;</button>
								<dialog id={`js-dialog-${index}`}>
									<p>Share this link:</p>
									<ul>
										<li><button id={`copy-button-${index}`}>Copy Link</button></li>
										<li><a href={`https://twitter.com/share?url=https://tenzyu.com/u/${link.shortenUrl}`} target="_blank">Share on Twitter</a></li>
										<li><a href={`https://www.facebook.com/sharer/sharer.php?u=https://tenzyu.com/u/${link.shortenUrl}`} target="_blank">Share on Facebook</a></li>
									</ul>
									<button id={`js-dialog-closer-${index}`}>Close</button>
								</dialog>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
		<!-- Client-side JavaScript -->
		<script>
			import { MY_LINKS } from "src/consts";

			{MY_LINKS.forEach((link, index) => {
				const dialog = document.getElementById(`js-dialog-${index}`) as HTMLDialogElement
				const dialogCloser = document.getElementById(`js-dialog-closer-${index}`);
				const dialogOpener = document.getElementById(`js-dialog-opener-${index}`);
				const copyButton = document.getElementById(`copy-button-${index}`);

				if (!(dialog && dialogOpener && dialogCloser && copyButton)) return

				dialogOpener.addEventListener('click', () => {
					dialog.showModal();
				});
				dialogCloser.addEventListener('click', () => {
					dialog.close();
				});
				copyButton.addEventListener('click', () => {
					const url = window.location.origin + "/u/" + link.shortenUrl;
					navigator.clipboard.writeText(url).then(() => {
						alert('URL copied to clipboard!');
					});
				});
			})}
		</script>
	</body>
</html>
